.delLink:hover {
    color: #367889;
    cursor: pointer
}
.delReplyLink:hover{
    color: #367889;
    cursor: pointer
}
.listSuggestion:hover{
    color: #367889;
    cursor: pointer
}
.delLink {
    color: #003D4C;
    font-weight: bold;
}
.listSuggestion{
    color: #003D4C;
    font-weight: bold;
}
.delReply {
    color: #003D4C;
    font-weight: bold;
}
