.office2007KLB
{
    display: inline-block;
    position: relative;
    vertical-align: top;	
}


.office2007KLB_Scrollable .klbGroup
{
    background: none repeat scroll 0 0 #FFFFFF;
    border: 1px solid #ABC1DE;	
	overflow: auto;
    bottom: 0;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;	
}

.office2007KLB .klbList
{
    height: 100%;
    list-style: none outside none;
    margin: 0;
    padding: 0;
    position: relative;
}

.office2007KLB .klbItem
{
	line-height: 18px;
    color: #00156E;
    font-family: "Segoe UI",Arial,sans-serif;
    font-size: 12px;
    cursor: default;
    padding: 2px 5px;
    white-space: nowrap;	
	-moz-user-select: none; 
	-khtml-user-select: none; 
	-webkit-user-select: none; 
	-o-user-select: none; 		
}

.office2007KLB .klbDisabledItem 
{
	color: #AAAAAA;
}


.office2007KLB .klbGroup .klbHovered
{
    background: none repeat scroll 0 0 #FFE27B;
    color: #000000;
}

.office2007KLB .klbGroup .klbSelected {
    background: none repeat scroll 0 0 #FCC365;
    color: #000000;
}

.office2007KLB .klbGroup .klbActive {
    border: 1px dotted #555555;
    padding: 1px 4px;
}

.office2007KLB .klbItem .klbText,
.office2007KLB .klbItem .klbCheck,
.office2007KLB .klbItem .klbImage
{
	line-height: 18px;
	vertical-align: middle;
}

.office2007KLB .klbItem .klbImage
{
	padding-right:2px;
}

.office2007KLB .klbButtonAreaRight
{
	float:right;
	width:30px;
	height:100%;
}

.office2007KLB .klbButtonAreaLeft
{
	float:left;
	width:30px;
	height:100%;
}

.office2007KLB .klbButtonAreaTop,
.office2007KLB .klbButtonAreaBottom
{
	float:left;
	width:100%;
	height:30px;
}
.office2007KLB .klbAlignLeft
{
	text-align:left;
}
.office2007KLB .klbAlignRight
{
	text-align:right;
}
.office2007KLB .klbAlignCenter
{
	text-align:center;
}

.office2007KLB .klbAlignTop td
{
	vertical-align:top;
}
.office2007KLB .klbAlignBottom td
{
	vertical-align:bottom;
}
.office2007KLB .klbAlignMiddle td
{
	vertical-align:middle;
}




.office2007KLB .klbButton
{
    cursor: pointer;
    display: block;
    height: 21px;
    line-height: 15px;
    margin: 0 0 5px 6px;
    padding: 0;
    position: relative;
    text-decoration: none;
    width: auto;
}

.office2007KLB .klbButtonAreaLeft .klbButton
{
	margin: 0 6px 5px 0;
}
.office2007KLB .klbButtonAreaTop .klbButton
{
	display:inline-block;	
	margin: 0 8px 6px 0;
}
.office2007KLB .klbButtonAreaBottom .klbButton
{
	display:inline-block;
	margin: 6px 8px 0 0;
}

.office2007KLB .klbAlignBottom .klbButton
{
	margin-bottom:2px;
	margin-top:5px;
}
.office2007KLB .klbAlignRight .klbButton
{
	margin-left:4px;
	margin-right:4px;
}



.office2007KLB .klbButton .klbButtonBL,
.office2007KLB .klbButton .klbButtonBR,
.office2007KLB .klbButton .klbButtonTR,
.office2007KLB .klbButton .klbButtonTL
{
	background-image: url(ButtonNormal.png);
	display: inline-block;
	position: relative;
	width: auto;	
}

.office2007KLB .klbButton:hover .klbButtonBL,
.office2007KLB .klbButton:hover .klbButtonBR,
.office2007KLB .klbButton:hover .klbButtonTR,
.office2007KLB .klbButton:hover .klbButtonTL
{
	background-image: url(ButtonHover.png);
}

.office2007KLB .klbDisabled:hover .klbButtonBL,
.office2007KLB .klbDisabled:hover .klbButtonBR,
.office2007KLB .klbDisabled:hover .klbButtonTR,
.office2007KLB .klbDisabled:hover .klbButtonTL
{
	background-image: url(ButtonNormal.png);
	cursor:default;
}

.office2007KLB .klbButton .klbButtonBL
{
    background-position: 0 100%;
    right: 0;
    top: 4px;	
}

.office2007KLB .klbButton .klbButtonBR
{
    background-position: 100% 100%;
    display: inline-block;
    right: -4px;
}
.office2007KLB .klbButton .klbButtonTR
{
    background-position: 100% 0;
    bottom: 4px;
    overflow: visible;
    right: 0;	
}
.office2007KLB .klbButton .klbButtonTL
{
    background-position: 0 0;
    left: -4px;
}


.office2007KLB .klbButton .klbButtonText
{
    background: url(Sprite.png) no-repeat;
    display: inline-block;
	position: relative;
    width: 0px;
    padding-left: 18px;
	height:13px;
	padding-top: 3px;
    text-align: left;
    z-index: 1;
	font-size: 0;
    color: #3B3B3B;
    font-family: "Segoe UI",Arial,sans-serif;	   
}

/*Default and right*/
.office2007KLB .klbDelete .klbButtonText
{
   background-position: 0 -50px;
}
.office2007KLB .klbMoveUp .klbButtonText
{
  background-position: 0 0;
}
.office2007KLB .klbMoveDown .klbButtonText
{
  background-position: 0 -25px;
}

.office2007KLB .klbTransferOut .klbButtonText
{
  background-position: 0 -75px;
}
.office2007KLB .klbTransferIn .klbButtonText
{
  background-position: 0px -100px;
}

.office2007KLB .klbTransferAllOut .klbButtonText
{
  background-position: 0 -125px;
}
.office2007KLB .klbTransferAllIn .klbButtonText
{
  background-position: 0px -150px;
}



.office2007KLB .klbDeleteDisabled .klbButtonText
{
   background-position: -200px -50px;
}
.office2007KLB .klbMoveUpDisabled .klbButtonText
{
  background-position: -200px 0;
}
.office2007KLB .klbMoveDownDisabled .klbButtonText
{
  background-position: -200px -25px;
}

.office2007KLB .klbTransferOutDisabled .klbButtonText
{
  background-position: -200px -75px;
}
.office2007KLB .klbTransferInDisabled .klbButtonText
{
  background-position: -200px -100px;
}

.office2007KLB .klbTransferAllOutDisabled .klbButtonText
{
  background-position: -200px -125px;
}
.office2007KLB .klbTransferAllInDisabled .klbButtonText
{
  background-position: -200px -150px;
}

/*Left*/
.office2007KLB .klbButtonAreaLeft .klbTransferOut .klbButtonText
{
	background-position: 0px -100px;
  
}
.office2007KLB .klbButtonAreaLeft .klbTransferIn .klbButtonText
{
	background-position: 0 -75px;
}
.office2007KLB .klbButtonAreaLeft .klbTransferAllOut .klbButtonText
{
	background-position: 0px -150px;
}
.office2007KLB .klbButtonAreaLeft .klbTransferAllIn .klbButtonText
{
	background-position: 0 -125px;
}


.office2007KLB .klbButtonAreaLeft .klbTransferOutDisabled .klbButtonText
{
	background-position: -200px -100px;
}
.office2007KLB .klbButtonAreaLeft .klbTransferInDisabled .klbButtonText
{
	background-position: -200px -75px;
}

.office2007KLB .klbButtonAreaLeft .klbTransferAllOutDisabled .klbButtonText
{
	background-position: -200px -150px;
}
.office2007KLB .klbButtonAreaLeft .klbTransferAllInDisabled .klbButtonText
{
	background-position: -200px -125px;
}

/*Top*/
.office2007KLB .klbButtonAreaTop .klbTransferOut .klbButtonText
{
	background-position: 0px -200px;
  
}
.office2007KLB .klbButtonAreaTop .klbTransferIn .klbButtonText
{
	background-position: 0 -175px;
}
.office2007KLB .klbButtonAreaTop .klbTransferAllOut .klbButtonText
{
	background-position: 0px -250px;
}
.office2007KLB .klbButtonAreaTop .klbTransferAllIn .klbButtonText
{
	background-position: 0 -225px;
}


.office2007KLB .klbButtonAreaTop .klbTransferOutDisabled .klbButtonText
{
	background-position: -200px -200px;
}
.office2007KLB .klbButtonAreaTop .klbTransferInDisabled .klbButtonText
{
	background-position: -200px -175px;
}

.office2007KLB .klbButtonAreaTop .klbTransferAllOutDisabled .klbButtonText
{
	background-position: -200px -250px;
}
.office2007KLB .klbButtonAreaTop .klbTransferAllInDisabled .klbButtonText
{
	background-position: -200px -225px;
}


/*Bottom*/
.office2007KLB .klbButtonAreaBottom .klbTransferOut .klbButtonText
{
	background-position: 0 -175px;
}
.office2007KLB .klbButtonAreaBottom .klbTransferIn .klbButtonText
{
	background-position: 0px -200px;
}
.office2007KLB .klbButtonAreaBottom .klbTransferAllOut .klbButtonText
{
	background-position: 0 -225px;
}
.office2007KLB .klbButtonAreaBottom .klbTransferAllIn .klbButtonText
{
	background-position: 0px -250px;
}


.office2007KLB .klbButtonAreaBottom .klbTransferOutDisabled .klbButtonText
{
	background-position: -200px -175px;
}
.office2007KLB .klbButtonAreaBottom .klbTransferInDisabled .klbButtonText
{
	background-position: -200px -200px;
}

.office2007KLB .klbButtonAreaBottom .klbTransferAllOutDisabled .klbButtonText
{
	background-position: -200px -225px;
}
.office2007KLB .klbButtonAreaBottom .klbTransferAllInDisabled .klbButtonText
{
	background-position: -200px -250px;
}
