.inoxKTV
{
	white-space:nowrap;
}
.inoxKTV *
{
}
/*ktvLI: TreeNode*/
.inoxKTV .ktvLI
{
	list-style-image:none;
	list-style-position:outside;
	list-style-type:none;
	line-height:16px;
	font-size:11px;
}
/*ktvImage: Image in the node content*/
.inoxKTV .ktvImage
{
	vertical-align:text-bottom;
}

/*ktvText: Text in the node content*/
.inoxKTV .ktvText
{
	/*border:1px solid transparent;*/
	color:#000000;
	font-family:tahoma,verdana,sans-serif;
	font-size:11px;
	font-size-adjust:none;
	font-style:normal;
	font-variant:normal;
	font-weight:normal;
	line-height:1.273em;
	padding-left:2px;
	padding-right:2px;		
}

/*ktvOver: Apply to treenode content when mouse is over*/
.inoxKTV .ktvOver .ktvText
{
	cursor:default;
	border:1px solid #b7b7b7;
	background:#e7e7e7;
}
/*ktvOver: Apply to treenode content when mouse is selected*/
.inoxKTV .ktvSelected .ktvText
{
	border:1px solid #8a8a8a;
	background:#a7b4ff;
}

/*ktvPM: PlusMinus button in general*/
.inoxKTV .ktvPM
{
	height:11px;
	width:11px;
	margin:3px 8px 0pt -16px;
	cursor:pointer;
	display:inline-block;
	font-size:0pt;
	padding:0pt;
	vertical-align:top;
}
html>body .inoxKTV .ktvPM
{
	display:-moz-inline-box;
}
/*ktvMinus: Minus button in detail*/
.inoxKTV .ktvMinus
{
	background:url(pm.gif) no-repeat scroll 0pt -8pt;
}

/*ktvPlus: Plus button in detail*/
.inoxKTV .ktvPlus
{
	background:url(pm.gif) no-repeat scroll 0pt 0pt;
}

/*ktvLoading: Ajax loading image*/
.inoxKTV .ktvLoading
{
	width:16px;
	height:16px;
	background:url(loading.gif);
	display:inline-block;
	vertical-align:top;
}
html>body .inoxKTV .ktvLoading
{
	display:-moz-inline-box;
}

/*ktvEdit: Edit input when node is edited*/
.inoxKTV .ktvEdit
{
	border:1px solid #6699cc;
	background-color:#ccddee;
	color:#000000;
	font-family:tahoma,verdana,sans-serif;
	font-size:11px;
	font-size-adjust:none;
	font-style:normal;
	font-variant:normal;
	font-weight:normal;
}

/*ktvEdit: Dump treenode when drag*/
.inoxKTV .ktvDrag
{
	filter:alpha(opacity=50);
	-moz-opacity:0.5;
	opacity:0.5;
}

/*ktvDrop: Apply to treenode content when a node is selected to drop*/
.inoxKTV .ktvDrop .ktvText
{
	border:1px solid #6699cc;
	background-color:#ccddee;
	cursor:gray;
}


/*ktvTop: Node on top*/
/*ktvMid: Node in middle*/
/*ktvBot: Node on bottom*/

.inoxKTV .ktvMid, 
.inoxKTV .ktvTop, 
.inoxKTV .ktvBot
{
	padding-left:20px;
}

/*ktvUL: Node container*/
.inoxKTV .ktvUL
{
	margin:0px;
	padding-left:0px;
	font-size:0pt;
}


.inoxKTV .ktvUL .ktvUL,
.inoxKTV .ktvUL .ktvUL .ktvUL
{
	margin:0px;
	padding-left:20px;
}


/*ktvNoPadding: When showplusminus=false or rootnode visible = false*/
.inoxKTV .ktvNoPadding .ktvUL
{
	margin:0px;
	padding-left:0px;
}

.inoxKTV .ktvNoPadding .ktvUL .ktvUL
{
	margin:0px;
	padding-left:20px;
}

/*ktvInv: Make root node invisible*/
.inoxKTV .ktvInv
{
	display:none;
}

/*ktvNoPM: Make root node does not show PlusMinus button*/
.inoxKTV .ktvNoPM
{
	padding-left:0px;
	background:none;
}
.inoxKTV .ktvNoPM .ktvPM
{
	display:none;
}



/*ktvLines: Render tree with lines---------------------*/

.inoxKTV .ktvLines .ktvLI
{
	background:url(v.gif) no-repeat scroll 0pt;	
}

.inoxKTV .ktvLines .ktvUL
{
	background:url(v.gif) no-repeat scroll 0pt;
}

.inoxKTV .ktvLines .ktvLast .ktvBot
{
	background:url(L.gif) no-repeat scroll 0pt;
}


.inoxKTV .ktvLines .ktvLast,
.inoxKTV .ktvLines .ktvLast .ktvUL
{
	background:none;
}

.inoxKTV .ktvLines .ktvTop,
.inoxKTV .ktvLines .ktvMid,
.inoxKTV .ktvLines .ktvBot
{
	background:url(mid.gif) no-repeat scroll 0pt;
}

.inoxKTV .ktvLines .ktvLast .ktvTop
{
	background:url(horizon.gif) no-repeat scroll 0pt;
}

.inoxKTV .ktvLines .ktvLast .ktvNoPM
{
	background:none;
}
/*-------------------------*/




