.hayKTV
{
	white-space:nowrap;
}
.hayKTV *
{
}
/*ktvLI: TreeNode*/
.hayKTV .ktvLI
{
	list-style-image:none;
	list-style-position:outside;
	list-style-type:none;
	line-height:16px;
	font-size:11px;
}
/*ktvImage: Image in the node content*/
.hayKTV .ktvImage
{
	vertical-align:text-bottom;
}

/*ktvText: Text in the node content*/
.hayKTV .ktvText
{
	/*border:1px solid transparent;*/
	color:#000000;
	font-family:tahoma,verdana,sans-serif;
	font-size:11px;
	font-size-adjust:none;
	font-style:normal;
	font-variant:normal;
	font-weight:normal;
	line-height:1.273em;
	padding-left:2px;
	padding-right:2px;		
}

/*ktvOver: Apply to treenode content when mouse is over*/
.hayKTV .ktvOver .ktvText
{
	cursor:default;
	border:1px solid #848374;
	background:#f3f3e2;
	color:green;
}
/*ktvOver: Apply to treenode content when mouse is selected*/
.hayKTV .ktvSelected .ktvText
{
	border:1px solid #848374;
	background:#f3f3e2;
}

/*ktvPM: PlusMinus button in general*/
.hayKTV .ktvPM
{
	height:11px;
	width:11px;
	margin:3px 8px 0pt -16px;
	cursor:pointer;
	display:inline-block;
	font-size:0pt;
	padding:0pt;
	vertical-align:top;
}
html>body .hayKTV .ktvPM
{
	display:-moz-inline-box;
}
/*ktvMinus: Minus button in detail*/
.hayKTV .ktvMinus
{
	background:url(pm.gif) no-repeat scroll 0pt -8pt;
}

/*ktvPlus: Plus button in detail*/
.hayKTV .ktvPlus
{
	background:url(pm.gif) no-repeat scroll 0pt 0pt;
}

/*ktvLoading: Ajax loading image*/
.hayKTV .ktvLoading
{
	width:16px;
	height:16px;
	background:url(loading.gif);
	display:inline-block;
	vertical-align:top;
}
html>body .hayKTV .ktvLoading
{
	display:-moz-inline-box;
}
/*ktvEdit: Edit input when node is edited*/
.hayKTV .ktvEdit
{
	border:1px solid #6699cc;
	background-color:#ccddee;
	color:#000000;
	font-family:tahoma,verdana,sans-serif;
	font-size:11px;
	font-size-adjust:none;
	font-style:normal;
	font-variant:normal;
	font-weight:normal;
}

/*ktvEdit: Dump treenode when drag*/
.hayKTV .ktvDrag
{
	filter:alpha(opacity=50);
	-moz-opacity:0.5;
	opacity:0.5;
}

/*ktvDrop: Apply to treenode content when a node is selected to drop*/
.hayKTV .ktvDrop .ktvText
{
	border:1px solid #6699cc;
	background-color:#ccddee;
	cursor:graygreen;
}


/*ktvTop: Node on top*/
/*ktvMid: Node in middle*/
/*ktvBot: Node on bottom*/

.hayKTV .ktvMid, 
.hayKTV .ktvTop, 
.hayKTV .ktvBot
{
	padding-left:20px;
}

/*ktvUL: Node container*/
.hayKTV .ktvUL
{
	margin:0px;
	padding-left:0px;
	font-size:0pt;
}


.hayKTV .ktvUL .ktvUL,
.hayKTV .ktvUL .ktvUL .ktvUL
{
	margin:0px;
	padding-left:20px;
}


/*ktvNoPadding: When showplusminus=false or rootnode visible = false*/
.hayKTV .ktvNoPadding .ktvUL
{
	margin:0px;
	padding-left:0px;
}

.hayKTV .ktvNoPadding .ktvUL .ktvUL
{
	margin:0px;
	padding-left:20px;
}

/*ktvInv: Make root node invisible*/
.hayKTV .ktvInv
{
	display:none;
}

/*ktvNoPM: Make root node does not show PlusMinus button*/
.hayKTV .ktvNoPM
{
	padding-left:0px;
	background:none;
}
.hayKTV .ktvNoPM .ktvPM
{
	display:none;
}



/*ktvLines: Render tree with lines---------------------*/

.hayKTV .ktvLines .ktvLI
{
	background:url(v.gif) no-repeat scroll 0pt;	
}

.hayKTV .ktvLines .ktvUL
{
	background:url(v.gif) no-repeat scroll 0pt;
}

.hayKTV .ktvLines .ktvLast .ktvBot
{
	background:url(L.gif) no-repeat scroll 0pt;
}


.hayKTV .ktvLines .ktvLast,
.hayKTV .ktvLines .ktvLast .ktvUL
{
	background:none;
}

.hayKTV .ktvLines .ktvTop,
.hayKTV .ktvLines .ktvMid,
.hayKTV .ktvLines .ktvBot
{
	background:url(mid.gif) no-repeat scroll 0pt;
}

.hayKTV .ktvLines .ktvLast .ktvTop
{
	background:url(horizon.gif) no-repeat scroll 0pt;
}

.hayKTV .ktvLines .ktvLast .ktvNoPM
{
	background:none;
}
/*-------------------------*/




