.forestKLB
{
    display: inline-block;
    position: relative;
    vertical-align: top;	
}


.forestKLB_Scrollable .klbGroup
{
    background: none repeat scroll 0 0 #E7F1D7;
    border: 1px solid #618740;
	overflow: auto;
    bottom: 0;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;	
}

.forestKLB .klbList
{
    height: 100%;
    list-style: none outside none;
    margin: 0;
    padding: 0;
    position: relative;
}

.forestKLB .klbItem
{
	line-height: 18px;
    color: #2B2C20;
    font-family: "Segoe UI",Arial,sans-serif;
    font-size: 12px;
    cursor: default;
    padding: 2px 5px;
    white-space: nowrap;	
	-moz-user-select: none; 
	-khtml-user-select: none; 
	-webkit-user-select: none; 
	-o-user-select: none; 		
}

.forestKLB .klbDisabledItem 
{
	color: #AAAAAA;
}


.forestKLB .klbGroup .klbHovered
{
    background: none repeat scroll 0 0 #8C9F5F;
    color: #2B2C20;
}

.forestKLB .klbGroup .klbSelected {
    background: none repeat scroll 0 0 #CF4900;
    color: #FFFFFF;
}

.forestKLB .klbGroup .klbActive {
    border: 1px dotted #555555;
    padding: 1px 4px;
}

.forestKLB .klbItem .klbText,
.forestKLB .klbItem .klbCheck,
.forestKLB .klbItem .klbImage
{
	line-height: 18px;
	vertical-align: middle;
}

.forestKLB .klbItem .klbImage
{
	padding-right:2px;
}

.forestKLB .klbButtonAreaRight
{
	float:right;
	width:30px;
	height:100%;
}

.forestKLB .klbButtonAreaLeft
{
	float:left;
	width:30px;
	height:100%;
}

.forestKLB .klbButtonAreaTop,
.forestKLB .klbButtonAreaBottom
{
	float:left;
	width:100%;
	height:30px;
}
.forestKLB .klbAlignLeft
{
	text-align:left;
}
.forestKLB .klbAlignRight
{
	text-align:right;
}
.forestKLB .klbAlignCenter
{
	text-align:center;
}

.forestKLB .klbAlignTop td
{
	vertical-align:top;
}
.forestKLB .klbAlignBottom td
{
	vertical-align:bottom;
}
.forestKLB .klbAlignMiddle td
{
	vertical-align:middle;
}




.forestKLB .klbButton
{
    cursor: pointer;
    display: block;
    height: 21px;
    line-height: 15px;
    margin: 0 0 5px 6px;
    padding: 0;
    position: relative;
    text-decoration: none;
    width: auto;
}

.forestKLB .klbButtonAreaLeft .klbButton
{
	margin: 0 6px 5px 0;
}
.forestKLB .klbButtonAreaTop .klbButton
{
	display:inline-block;	
	margin: 0 8px 6px 0;
}
.forestKLB .klbButtonAreaBottom .klbButton
{
	display:inline-block;
	margin: 6px 8px 0 0;
}

.forestKLB .klbAlignBottom .klbButton
{
	margin-bottom:2px;
	margin-top:5px;
}
.forestKLB .klbAlignRight .klbButton
{
	margin-left:4px;
	margin-right:4px;
}



.forestKLB .klbButton .klbButtonBL,
.forestKLB .klbButton .klbButtonBR,
.forestKLB .klbButton .klbButtonTR,
.forestKLB .klbButton .klbButtonTL
{
	background-image: url(ButtonNormal.png);
	display: inline-block;
	position: relative;
	width: auto;	
}

.forestKLB .klbButton:hover .klbButtonBL,
.forestKLB .klbButton:hover .klbButtonBR,
.forestKLB .klbButton:hover .klbButtonTR,
.forestKLB .klbButton:hover .klbButtonTL
{
	background-image: url(ButtonHover.png);
}

.forestKLB .klbDisabled:hover .klbButtonBL,
.forestKLB .klbDisabled:hover .klbButtonBR,
.forestKLB .klbDisabled:hover .klbButtonTR,
.forestKLB .klbDisabled:hover .klbButtonTL
{
	background-image: url(ButtonNormal.png);
	cursor:default;
}

.forestKLB .klbButton .klbButtonBL
{
    background-position: 0 100%;
    right: 0;
    top: 4px;	
}

.forestKLB .klbButton .klbButtonBR
{
    background-position: 100% 100%;
    display: inline-block;
    right: -4px;
}
.forestKLB .klbButton .klbButtonTR
{
    background-position: 100% 0;
    bottom: 4px;
    overflow: visible;
    right: 0;	
}
.forestKLB .klbButton .klbButtonTL
{
    background-position: 0 0;
    left: -4px;
}


.forestKLB .klbButton .klbButtonText
{
    background: url(Sprite.png) no-repeat;
    display: inline-block;
	position: relative;
    width: 0px;
    padding-left: 18px;
	height:13px;
	padding-top: 3px;
    text-align: left;
    z-index: 1;
	font-size: 0;
    color: #3B3B3B;
    font-family: "Segoe UI",Arial,sans-serif;	   
}

/*Default and right*/
.forestKLB .klbDelete .klbButtonText
{
   background-position: 0 -50px;
}
.forestKLB .klbMoveUp .klbButtonText
{
  background-position: 0 0;
}
.forestKLB .klbMoveDown .klbButtonText
{
  background-position: 0 -25px;
}

.forestKLB .klbTransferOut .klbButtonText
{
  background-position: 0 -75px;
}
.forestKLB .klbTransferIn .klbButtonText
{
  background-position: 0px -100px;
}

.forestKLB .klbTransferAllOut .klbButtonText
{
  background-position: 0 -125px;
}
.forestKLB .klbTransferAllIn .klbButtonText
{
  background-position: 0px -150px;
}



.forestKLB .klbDeleteDisabled .klbButtonText
{
   background-position: -200px -50px;
}
.forestKLB .klbMoveUpDisabled .klbButtonText
{
  background-position: -200px 0;
}
.forestKLB .klbMoveDownDisabled .klbButtonText
{
  background-position: -200px -25px;
}

.forestKLB .klbTransferOutDisabled .klbButtonText
{
  background-position: -200px -75px;
}
.forestKLB .klbTransferInDisabled .klbButtonText
{
  background-position: -200px -100px;
}

.forestKLB .klbTransferAllOutDisabled .klbButtonText
{
  background-position: -200px -125px;
}
.forestKLB .klbTransferAllInDisabled .klbButtonText
{
  background-position: -200px -150px;
}

/*Left*/
.forestKLB .klbButtonAreaLeft .klbTransferOut .klbButtonText
{
	background-position: 0px -100px;
  
}
.forestKLB .klbButtonAreaLeft .klbTransferIn .klbButtonText
{
	background-position: 0 -75px;
}
.forestKLB .klbButtonAreaLeft .klbTransferAllOut .klbButtonText
{
	background-position: 0px -150px;
}
.forestKLB .klbButtonAreaLeft .klbTransferAllIn .klbButtonText
{
	background-position: 0 -125px;
}


.forestKLB .klbButtonAreaLeft .klbTransferOutDisabled .klbButtonText
{
	background-position: -200px -100px;
}
.forestKLB .klbButtonAreaLeft .klbTransferInDisabled .klbButtonText
{
	background-position: -200px -75px;
}

.forestKLB .klbButtonAreaLeft .klbTransferAllOutDisabled .klbButtonText
{
	background-position: -200px -150px;
}
.forestKLB .klbButtonAreaLeft .klbTransferAllInDisabled .klbButtonText
{
	background-position: -200px -125px;
}

/*Top*/
.forestKLB .klbButtonAreaTop .klbTransferOut .klbButtonText
{
	background-position: 0px -200px;
  
}
.forestKLB .klbButtonAreaTop .klbTransferIn .klbButtonText
{
	background-position: 0 -175px;
}
.forestKLB .klbButtonAreaTop .klbTransferAllOut .klbButtonText
{
	background-position: 0px -250px;
}
.forestKLB .klbButtonAreaTop .klbTransferAllIn .klbButtonText
{
	background-position: 0 -225px;
}


.forestKLB .klbButtonAreaTop .klbTransferOutDisabled .klbButtonText
{
	background-position: -200px -200px;
}
.forestKLB .klbButtonAreaTop .klbTransferInDisabled .klbButtonText
{
	background-position: -200px -175px;
}

.forestKLB .klbButtonAreaTop .klbTransferAllOutDisabled .klbButtonText
{
	background-position: -200px -250px;
}
.forestKLB .klbButtonAreaTop .klbTransferAllInDisabled .klbButtonText
{
	background-position: -200px -225px;
}


/*Bottom*/
.forestKLB .klbButtonAreaBottom .klbTransferOut .klbButtonText
{
	background-position: 0 -175px;
}
.forestKLB .klbButtonAreaBottom .klbTransferIn .klbButtonText
{
	background-position: 0px -200px;
}
.forestKLB .klbButtonAreaBottom .klbTransferAllOut .klbButtonText
{
	background-position: 0 -225px;
}
.forestKLB .klbButtonAreaBottom .klbTransferAllIn .klbButtonText
{
	background-position: 0px -250px;
}


.forestKLB .klbButtonAreaBottom .klbTransferOutDisabled .klbButtonText
{
	background-position: -200px -175px;
}
.forestKLB .klbButtonAreaBottom .klbTransferInDisabled .klbButtonText
{
	background-position: -200px -200px;
}

.forestKLB .klbButtonAreaBottom .klbTransferAllOutDisabled .klbButtonText
{
	background-position: -200px -225px;
}
.forestKLB .klbButtonAreaBottom .klbTransferAllInDisabled .klbButtonText
{
	background-position: -200px -250px;
}
