.graygreenKTV
{
	white-space:nowrap;
}
.graygreenKTV *
{
}
/*ktvLI: TreeNode*/
.graygreenKTV .ktvLI
{
	list-style-image:none;
	list-style-position:outside;
	list-style-type:none;
	line-height:16px;
	font-size:11px;
}
/*ktvImage: Image in the node content*/
.graygreenKTV .ktvImage
{
	vertical-align:text-bottom;
}

/*ktvText: Text in the node content*/
.graygreenKTV .ktvText
{
	/*border:1px solid transparent;*/
	color:#000000;
	font-family:tahoma,verdana,sans-serif;
	font-size:11px;
	font-size-adjust:none;
	font-style:normal;
	font-variant:normal;
	font-weight:normal;
	line-height:1.273em;
	padding-left:2px;
	padding-right:2px;		
}

/*ktvOver: Apply to treenode content when mouse is over*/
.graygreenKTV .ktvOver .ktvText
{
	cursor:default;
	border:1px solid #99cb58;
	background:#ebfed7;
	color:#279500;
}
/*ktvOver: Apply to treenode content when mouse is selected*/
.graygreenKTV .ktvSelected .ktvText
{
	border:1px solid #62604d;
	background-image:url('bg.gif');
	color:#FFFFFF;
}

/*ktvPM: PlusMinus button in general*/
.graygreenKTV .ktvPM
{
	height:11px;
	width:11px;
	margin:3px 8px 0pt -16px;
	cursor:pointer;
	display:inline-block;
	font-size:0pt;
	padding:0pt;
	vertical-align:top;
}
html>body .graygreenKTV .ktvPM
{
	display:-moz-inline-box;
}
/*ktvMinus: Minus button in detail*/
.graygreenKTV .ktvMinus
{
	background:url(pm.gif) no-repeat scroll 0pt -8pt;
}

/*ktvPlus: Plus button in detail*/
.graygreenKTV .ktvPlus
{
	background:url(pm.gif) no-repeat scroll 0pt 0pt;
}

/*ktvLoading: Ajax loading image*/
.graygreenKTV .ktvLoading
{
	width:16px;
	height:16px;
	background:url(loading.gif);
	display:inline-block;
	vertical-align:top;
}
html>body .graygreenKTV .ktvLoading
{
	display:-moz-inline-box;
}
/*ktvEdit: Edit input when node is edited*/
.graygreenKTV .ktvEdit
{
	border:1px solid #6699cc;
	background-color:#ccddee;
	color:#000000;
	font-family:tahoma,verdana,sans-serif;
	font-size:11px;
	font-size-adjust:none;
	font-style:normal;
	font-variant:normal;
	font-weight:normal;
}

/*ktvEdit: Dump treenode when drag*/
.graygreenKTV .ktvDrag
{
	filter:alpha(opacity=50);
	-moz-opacity:0.5;
	opacity:0.5;
}

/*ktvDrop: Apply to treenode content when a node is selected to drop*/
.graygreenKTV .ktvDrop .ktvText
{
	border:1px solid #6699cc;
	background-color:#ccddee;
	cursor:graygreen;
}


/*ktvTop: Node on top*/
/*ktvMid: Node in middle*/
/*ktvBot: Node on bottom*/

.graygreenKTV .ktvMid, 
.graygreenKTV .ktvTop, 
.graygreenKTV .ktvBot
{
	padding-left:20px;
}

/*ktvUL: Node container*/
.graygreenKTV .ktvUL
{
	margin:0px;
	padding-left:0px;
	font-size:0pt;
}


.graygreenKTV .ktvUL .ktvUL,
.graygreenKTV .ktvUL .ktvUL .ktvUL
{
	margin:0px;
	padding-left:20px;
}


/*ktvNoPadding: When showplusminus=false or rootnode visible = false*/
.graygreenKTV .ktvNoPadding .ktvUL
{
	margin:0px;
	padding-left:0px;
}

.graygreenKTV .ktvNoPadding .ktvUL .ktvUL
{
	margin:0px;
	padding-left:20px;
}

/*ktvInv: Make root node invisible*/
.graygreenKTV .ktvInv
{
	display:none;
}

/*ktvNoPM: Make root node does not show PlusMinus button*/
.graygreenKTV .ktvNoPM
{
	padding-left:0px;
	background:none;
}
.graygreenKTV .ktvNoPM .ktvPM
{
	display:none;
}



/*ktvLines: Render tree with lines---------------------*/

.graygreenKTV .ktvLines .ktvLI
{
	background:url(v.gif) no-repeat scroll 0pt;	
}

.graygreenKTV .ktvLines .ktvUL
{
	background:url(v.gif) no-repeat scroll 0pt;
}

.graygreenKTV .ktvLines .ktvLast .ktvBot
{
	background:url(L.gif) no-repeat scroll 0pt;
}


.graygreenKTV .ktvLines .ktvLast,
.graygreenKTV .ktvLines .ktvLast .ktvUL
{
	background:none;
}

.graygreenKTV .ktvLines .ktvTop,
.graygreenKTV .ktvLines .ktvMid,
.graygreenKTV .ktvLines .ktvBot
{
	background:url(mid.gif) no-repeat scroll 0pt;
}

.graygreenKTV .ktvLines .ktvLast .ktvTop
{
	background:url(horizon.gif) no-repeat scroll 0pt;
}

.graygreenKTV .ktvLines .ktvLast .ktvNoPM
{
	background:none;
}
/*-------------------------*/




