.blackKLB
{
    display: inline-block;
    position: relative;
    vertical-align: top;	
}


.blackKLB_Scrollable .klbGroup
{
    background: none repeat scroll 0 0 #464646;
    border: 1px solid #000000;
	overflow: auto;
    bottom: 0;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;	
}

.blackKLB .klbList
{
    height: 100%;
    list-style: none outside none;
    margin: 0;
    padding: 0;
    position: relative;
}

.blackKLB .klbItem
{
	line-height: 18px;
    color: #FFFFFF;
    font-family: "Segoe UI",Arial,sans-serif;
    font-size: 12px;
    cursor: default;
    padding: 2px 5px;
    white-space: nowrap;
	-moz-user-select: none; 
	-khtml-user-select: none; 
	-webkit-user-select: none; 
	-o-user-select: none; 		
}

.blackKLB .klbDisabledItem 
{
	color: #AAAAAA;
}

.blackKLB .klbGroup .klbHovered
{
    background: none repeat scroll 0 0 #3E3E3E;
    color: #FFFFFF;
}

.blackKLB .klbGroup .klbSelected {
    background: none repeat scroll 0 0 #2E2E2E;
    color: #FFFFFF;
}

.blackKLB .klbGroup .klbActive {
    border: 1px dotted #555555;
    padding: 1px 4px;
}

.blackKLB .klbItem .klbText,
.blackKLB .klbItem .klbCheck,
.blackKLB .klbItem .klbImage
{
	line-height: 18px;
	vertical-align: middle;
}

.blackKLB .klbItem .klbImage
{
	padding-right:2px;
}

.blackKLB .klbButtonAreaRight
{
	float:right;
	width:30px;
	height:100%;
}

.blackKLB .klbButtonAreaLeft
{
	float:left;
	width:30px;
	height:100%;
}

.blackKLB .klbButtonAreaTop,
.blackKLB .klbButtonAreaBottom
{
	float:left;
	width:100%;
	height:30px;
}
.blackKLB .klbAlignLeft
{
	text-align:left;
}
.blackKLB .klbAlignRight
{
	text-align:right;
}
.blackKLB .klbAlignCenter
{
	text-align:center;
}

.blackKLB .klbAlignTop td
{
	vertical-align:top;
}
.blackKLB .klbAlignBottom td
{
	vertical-align:bottom;
}
.blackKLB .klbAlignMiddle td
{
	vertical-align:middle;
}




.blackKLB .klbButton
{
    cursor: pointer;
    display: block;
    height: 21px;
    line-height: 15px;
    margin: 0 0 5px 6px;
    padding: 0;
    position: relative;
    text-decoration: none;
    width: auto;
}

.blackKLB .klbButtonAreaLeft .klbButton
{
	margin: 0 6px 5px 0;
}
.blackKLB .klbButtonAreaTop .klbButton
{
	display:inline-block;	
	margin: 0 8px 6px 0;
}
.blackKLB .klbButtonAreaBottom .klbButton
{
	display:inline-block;
	margin: 6px 8px 0 0;
}

.blackKLB .klbAlignBottom .klbButton
{
	margin-bottom:2px;
	margin-top:5px;
}
.blackKLB .klbAlignRight .klbButton
{
	margin-left:4px;
	margin-right:4px;
}



.blackKLB .klbButton .klbButtonBL,
.blackKLB .klbButton .klbButtonBR,
.blackKLB .klbButton .klbButtonTR,
.blackKLB .klbButton .klbButtonTL
{
	background-image: url(ButtonNormal.png);
	display: inline-block;
	position: relative;
	width: auto;	
}

.blackKLB .klbButton:hover .klbButtonBL,
.blackKLB .klbButton:hover .klbButtonBR,
.blackKLB .klbButton:hover .klbButtonTR,
.blackKLB .klbButton:hover .klbButtonTL
{
	background-image: url(ButtonHover.png);
}

.blackKLB .klbDisabled:hover .klbButtonBL,
.blackKLB .klbDisabled:hover .klbButtonBR,
.blackKLB .klbDisabled:hover .klbButtonTR,
.blackKLB .klbDisabled:hover .klbButtonTL
{
	background-image: url(ButtonNormal.png);
	cursor:default;
}

.blackKLB .klbButton .klbButtonBL
{
    background-position: 0 100%;
    right: 0;
    top: 4px;	
}

.blackKLB .klbButton .klbButtonBR
{
    background-position: 100% 100%;
    display: inline-block;
    right: -4px;
}
.blackKLB .klbButton .klbButtonTR
{
    background-position: 100% 0;
    bottom: 4px;
    overflow: visible;
    right: 0;	
}
.blackKLB .klbButton .klbButtonTL
{
    background-position: 0 0;
    left: -4px;
}


.blackKLB .klbButton .klbButtonText
{
    background: url(Sprite.png) no-repeat;
    display: inline-block;
	position: relative;
    width: 0px;
    padding-left: 18px;
	height:13px;
	padding-top: 3px;
    text-align: left;
    z-index: 1;
	font-size: 0;
    color: #3B3B3B;
    font-family: "Segoe UI",Arial,sans-serif;	   
}

/*Default and right*/
.blackKLB .klbDelete .klbButtonText
{
   background-position: 0 -50px;
}
.blackKLB .klbMoveUp .klbButtonText
{
  background-position: 0 0;
}
.blackKLB .klbMoveDown .klbButtonText
{
  background-position: 0 -25px;
}

.blackKLB .klbTransferOut .klbButtonText
{
  background-position: 0 -75px;
}
.blackKLB .klbTransferIn .klbButtonText
{
  background-position: 0px -100px;
}

.blackKLB .klbTransferAllOut .klbButtonText
{
  background-position: 0 -125px;
}
.blackKLB .klbTransferAllIn .klbButtonText
{
  background-position: 0px -150px;
}



.blackKLB .klbDeleteDisabled .klbButtonText
{
   background-position: -200px -50px;
}
.blackKLB .klbMoveUpDisabled .klbButtonText
{
  background-position: -200px 0;
}
.blackKLB .klbMoveDownDisabled .klbButtonText
{
  background-position: -200px -25px;
}

.blackKLB .klbTransferOutDisabled .klbButtonText
{
  background-position: -200px -75px;
}
.blackKLB .klbTransferInDisabled .klbButtonText
{
  background-position: -200px -100px;
}

.blackKLB .klbTransferAllOutDisabled .klbButtonText
{
  background-position: -200px -125px;
}
.blackKLB .klbTransferAllInDisabled .klbButtonText
{
  background-position: -200px -150px;
}

/*Left*/
.blackKLB .klbButtonAreaLeft .klbTransferOut .klbButtonText
{
	background-position: 0px -100px;
  
}
.blackKLB .klbButtonAreaLeft .klbTransferIn .klbButtonText
{
	background-position: 0 -75px;
}
.blackKLB .klbButtonAreaLeft .klbTransferAllOut .klbButtonText
{
	background-position: 0px -150px;
}
.blackKLB .klbButtonAreaLeft .klbTransferAllIn .klbButtonText
{
	background-position: 0 -125px;
}


.blackKLB .klbButtonAreaLeft .klbTransferOutDisabled .klbButtonText
{
	background-position: -200px -100px;
}
.blackKLB .klbButtonAreaLeft .klbTransferInDisabled .klbButtonText
{
	background-position: -200px -75px;
}

.blackKLB .klbButtonAreaLeft .klbTransferAllOutDisabled .klbButtonText
{
	background-position: -200px -150px;
}
.blackKLB .klbButtonAreaLeft .klbTransferAllInDisabled .klbButtonText
{
	background-position: -200px -125px;
}

/*Top*/
.blackKLB .klbButtonAreaTop .klbTransferOut .klbButtonText
{
	background-position: 0px -200px;
  
}
.blackKLB .klbButtonAreaTop .klbTransferIn .klbButtonText
{
	background-position: 0 -175px;
}
.blackKLB .klbButtonAreaTop .klbTransferAllOut .klbButtonText
{
	background-position: 0px -250px;
}
.blackKLB .klbButtonAreaTop .klbTransferAllIn .klbButtonText
{
	background-position: 0 -225px;
}


.blackKLB .klbButtonAreaTop .klbTransferOutDisabled .klbButtonText
{
	background-position: -200px -200px;
}
.blackKLB .klbButtonAreaTop .klbTransferInDisabled .klbButtonText
{
	background-position: -200px -175px;
}

.blackKLB .klbButtonAreaTop .klbTransferAllOutDisabled .klbButtonText
{
	background-position: -200px -250px;
}
.blackKLB .klbButtonAreaTop .klbTransferAllInDisabled .klbButtonText
{
	background-position: -200px -225px;
}


/*Bottom*/
.blackKLB .klbButtonAreaBottom .klbTransferOut .klbButtonText
{
	background-position: 0 -175px;
}
.blackKLB .klbButtonAreaBottom .klbTransferIn .klbButtonText
{
	background-position: 0px -200px;
}
.blackKLB .klbButtonAreaBottom .klbTransferAllOut .klbButtonText
{
	background-position: 0 -225px;
}
.blackKLB .klbButtonAreaBottom .klbTransferAllIn .klbButtonText
{
	background-position: 0px -250px;
}


.blackKLB .klbButtonAreaBottom .klbTransferOutDisabled .klbButtonText
{
	background-position: -200px -175px;
}
.blackKLB .klbButtonAreaBottom .klbTransferInDisabled .klbButtonText
{
	background-position: -200px -200px;
}

.blackKLB .klbButtonAreaBottom .klbTransferAllOutDisabled .klbButtonText
{
	background-position: -200px -225px;
}
.blackKLB .klbButtonAreaBottom .klbTransferAllInDisabled .klbButtonText
{
	background-position: -200px -250px;
}
