/* 
    Document   : view
    Created on : Mar 6, 2013, 10:22:28 PM
    Author     : john
    Description:
        Purpose of the stylesheet follows.
*/
#QuestionText{
    width: 800px;
    height: 400px;
}
